@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@theme {
  --color-Dark-Cyan : hsl(180, 29%, 50%);
  --color-Grayish-Cyan : hsl(180, 52%, 96%);
  --color-Light-Grayish-Cyan : hsl(180, 31%, 95%);
  --color-Dark-Grayish-Cyan : hsl(180, 8%, 52%);
  --color-Very-Dark-Grayish-Cyan : hsl(180, 14%, 20%);
  --font-Spartan : "League Spartan", sans-serif;
}

:root {
  --background: hsl(180, 52%, 96%);
  --foreground: #171717;
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: "League Spartan", sans-serif;
}
